@{
    ViewBag.Title = "Order Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("index", "dashboard" , new { area= "admin" })">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Order Confirmation</li>
</ol>

<!-- Page Content -->
<div class="row">
    <div class="col-xl-12 col-sm-12 mb-3">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Order Confirmation
            </div>
            <div class="card-body">
                <div id="viewPlaceHolder" class="table-responsive">
                    @*<table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Order Code</th>
                                <th>Customer Name</th>
                                <th>Article Code</th>
                                <th>Total Quantity</th>
                                <th>Average Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Order001</td>
                                <td>Customer001</td>
                                <td>Article001</td>
                                <td>200</td>
                                <td>65</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Order002</td>
                                <td>Customer002</td>
                                <td>Article002</td>
                                <td>200</td>
                                <td>65</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>Order003</td>
                                <td>Customer003</td>
                                <td>Article003</td>
                                <td>200</td>
                                <td>65</td>
                            </tr>
                        </tbody>
                    </table>*@
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/user/order.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        showCreatedList('OrderConfirmationList', "_DisplayDataArticle", reporturl);
    })
</script>

@*<script src="@Url.Content("~/Scripts/article.js")"></script>
<script type="text/javascript">
    var url = '@Url.Action("GetReport")';
    $(document).ready(function () {
        showMoldListForArticleCreation('ArticleEdit', "_DisplayDataArticle", url);
    })

    function UpdateRawMaterialCode(code) {
        var ur = saveurl.replace('SaveResult', 'Index');
        window.location.href = ur + "?code=" + code;
    }
</script>*@
