@{
    ViewBag.Title = "Article's List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("index", "dashboard" , new { area= "admin" })">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Order's List</li>
</ol>

<!-- Page Content -->
<div class="row">
    <div class="col-xl-12 col-sm-12 mb-3">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Created Order's List
            </div>
            <div class="card-body">
                <div id="viewPlaceHolder" class="table-responsive">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/user/order.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        showCreatedList('OrderFunctionalityList', "_DisplayDataArticle", reporturl);
    })
</script>
